<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
  href="../../css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf - Plain </a>
        <ul class="nav">
          <li><a th:href="@{/}" href="home.html"> Home </a></li>
          <li><a th:href="@{/login?logout}" href="#" onclick="document.getElementById('logoutForm').submit();"> Logout </a></li>
        </ul>
      </div>
    </div>
    <h1 th:text="${title}">Title</h1>
    <table>
      <thead>
        <tr>
          <th>E-mail</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.email}"><a href="/user/${user.id}">email</a></td>
          <td th:text="${user.role}">role</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>